<form  class="company-form" id="create-company-form" name="company" style="display: none">
    <h1 class="title">Создание компании</h1>
    <div class="field_wrap">
        <label>
            Название компании
            <input class="form-control field_type" name="name" placeholder="Название" required>
        </label>
    </div>
    <div class="field_wrap">
        <label>
            Email
            <input class="form-control field_type" name="email" placeholder="Email" required>
        </label>
    </div>
    <div class="field_wrap">
        <label>
            Телефон
            <input class="form-control field_type" name="phone" placeholder="Телефон" required>
        </label>
    </div>
    <div class="button-block">
        <a class="btn btn-form btn-small" id="show-list">Выбрать из имеющихся</a>
        <button class="btn btn-form btn-small" type="submit">Создать и продолжить</button>
    </div>
</form>





