<div class="footer">
    <div class="g-wrapper">
        <div class="footer-top-content">
            <div class="footer-items">
                <a href="{{ path('app_contacts') }}">Контакты</a>
            </div>
            <div class="footer-items">
                <a href="{{ path('app_help') }}">Помощь</a>
            </div>
            <div class="footer-items center">
                <div class="logo-office"></div>
                <div class="name_title">InfoOffice</div>
            </div>
            <div class="footer-items">
                <a href="{{ path('app_menu_page') }}">Меню</a>
            </div>
            <div class="footer-items">
                <a href="">Блог</a>
            </div>
        </div>
        <div class="footer-bottom-content">
            <div class="logo-block">
                <div class="logo-footer"><img src="/img/periscope.svg" alt=""></div>
                <div class="logo-footer"><img src="/img/whatsapp.svg" alt=""></div>
                <div class="logo-footer"><img src="/img/telegram.svg" alt=""></div>
            </div>
            <div class="description-block">
                © InfoOffice, Inc. 2021.
            </div>
        </div>
    </div>
</div>
</body>
</html>